.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: 50px;
  z-index: 100;
  background-color: white;
}


.nav-right {
  display: flex;
  flex-direction: row;

  .logout, .explore-link, .guest-login, .sign-in, .register, .profile-link {
    font: 20px 'Amatic SC', bold;
    color: #516425;
    padding: 20px;
  }

  .logout:hover, .explore-link:hover, .profile-link:hover, .guest-login:hover, .sign-in:hover, .register:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}


.logo-text {
  font: 30px 'Rock Salt', cursive;
  color: #516425;
  padding: 0px 20px 0px 20px;
}

.logo-text:hover {
  transform: scale(1.05);
}

.nav-middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  border: 3px solid #516425;
  width: 300px;
  margin-left: 10px;
  font: 16px 'Nixie One', bold;
}

.search-input {
  padding: 5px;
}

// .fa fa-search {
//   font: 20px 'Nixie One', bold;
//   color: #516425;
//   padding: 20px;
// }

.highlighted-term {
  color: white;
  background: #516425;
  padding: 2px 6px;
  cursor: default;
  font: 16px 'Nixie One', bold;
}

.list-term {
  padding: 2px 6px;
  cursor: default;
  font: 16px 'Nixie One', bold;
}
