.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 10px;
  height: 50px;
  position: fixed;
}


.nav-right {
  display: flex;
  flex-direction: row;

  .logout, .explore-link, .guest-login, .sign-in, .register, .profile-link {
    font: 20px 'Amatic SC', bold;
    color: #516425;
    padding: 20px;
  }

  .logout:hover, .explore-link:hover, .profile-link:hover, .guest-login:hover, .sign-in:hover, .register:hover {
    transform: scale(1.05);
  }
}


.logo-text {
  font: 30px 'Rock Salt', cursive;
  color: #516425;
  padding: 0px 20px 0px 20px;
}

.logo-text:hover {
  transform: scale(1.05);
}
