.photo-container {
  margin-top: 100px;
  margin-bottom: 20px;
}

.photo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  padding: 10px;
}

.photo {
  width: 700px;
  height: auto;
  padding: 10px;
  margin: 10px;
  background-color: white;
}
