.photo-container {
  margin-top: 80px;
}

.photo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}



.photo {
  width: 500px;
  height: auto;
  padding: 10px;
  background-color: white;
}
