.splash {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://www.abercrombiekent.co.uk/thailand/images/Thailand-Chaing-Mai-shutterstock_240784369.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .splash-phrase1, .splash-phrase2 {
    font: 30px 'Nixie One', bold;
    color: white;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 80px;
    margin-bottom: 10px;
    width: 60%;
  }
}
