.splash {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-phrase1 {
  font: 40px 'Nixie One', bold;
  color: black;
  padding: 30px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 150px;
  width: 60%;
  background: rgba(255,255,255,0.5);
  align-self: center;
}

.splash-phrase2-1 {
  font: 40px 'Nixie One';
  color: black;
  padding: 30px;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin-top: 40px;
  margin-bottom: 30px;
  background: rgba(255,255,255,0.5);
  width: 80%;
  align-self: center;
}

.splash-phrase2-2 {
  font: 30px 'Nixie One';
  color: black;
  padding: 30px;
  text-align: center;
  background: rgba(255,255,255,0.5);
  width: 25%;
  align-self: center;
}

.splash-button {
  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.splash-button:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
}

.splash-video video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
