/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'reset.scss';
@import 'components/*';

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}
.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.splash {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("http://www.abercrombiekent.co.uk/thailand/images/Thailand-Chaing-Mai-shutterstock_240784369.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  .splash-phrase1, .splash-phrase2 {
    font: 30px 'Nixie One', bold;
    color: white;
    padding: 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 80px;
    margin-bottom: 10px;
  }
}
